<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats</title>
</head>
<body>
    <nav>
        <a href="http://127.0.0.1:8000/">Homepage</a> |
        <a href="http://127.0.0.1:8000/about/">About</a> |
        <a href="http://127.0.0.1:8000/dresses/">Dresses</a> |
        <a href="http://127.0.0.1:8000/cats/">Cats</a> |
        <a href="http://127.0.0.1:8000/cakes/">Cakes</a> |
        <a href="http://127.0.0.1:8000/cookies/">Cookies</a>
    </nav>
    
    <h1>This is the Cats' Page!</h1>
</body>
</html>